/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );


.main-font{
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}
.main-font-semibold{
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}
.normal-text{
    text-transform: none;
}
.text-black{
    color: #212121!important;
}  
.bg-black{
    background-color: #212121!important;
}
.main-bg{
    background-color: #e2dfdf!important;
}
.elevated-text {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0px 2px 4px rgb(29, 28, 28), 0px 4px 8px rgb(122, 122, 122);
}
.text-h5{
    font-size: 1.7rem!important;
}